body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:798px;
}
#u45_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:798px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u45_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:800px;
  display:flex;
  transition:none;
}
#u46 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u46_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:800px;
}
#u46_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u47 {
  position:absolute;
  left:440px;
  top:304px;
}
#u47_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:400px;
  height:80px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u47_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:80px;
  display:flex;
  transition:none;
}
#u48 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u48_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:80px;
}
#u48_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u47_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:80px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u47_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:80px;
  display:flex;
  transition:none;
}
#u49 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u49_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:80px;
}
#u49_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:416px;
  width:400px;
  height:80px;
  display:flex;
  transition:none;
}
#u50 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u50_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:80px;
}
#u50_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u45_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:798px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u45_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:800px;
  display:flex;
  transition:none;
}
#u51 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u51_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:800px;
}
#u51_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:123px;
  width:1200px;
  height:637px;
  display:flex;
  transition:none;
}
#u52 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u52_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:637px;
}
#u52_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:359px;
  width:380px;
  height:359px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u54 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:37px;
  width:165px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u45_state2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:798px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u45_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u55 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:800px;
  display:flex;
  transition:none;
}
#u55 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u55_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:800px;
}
#u55_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u56 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:123px;
  width:1200px;
  height:637px;
  display:flex;
  transition:none;
}
#u56 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u56_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:637px;
}
#u56_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u57 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:354px;
  width:380px;
  height:359px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u58 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:37px;
  width:165px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u45_state3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:798px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u45_state3_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u59 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:800px;
  display:flex;
  transition:none;
}
#u59 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u59_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:800px;
}
#u59_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u60 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:123px;
  width:1200px;
  height:637px;
  display:flex;
  transition:none;
}
#u60 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u60_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:637px;
}
#u60_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:357px;
  width:380px;
  height:359px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u62 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:37px;
  width:165px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u45_state4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:798px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u45_state4_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:800px;
  display:flex;
  transition:none;
}
#u63 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u63_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:800px;
}
#u63_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:37px;
  width:165px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u45_state5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:798px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u45_state5_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:800px;
  display:flex;
  transition:none;
}
#u65 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u65_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:800px;
}
#u65_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:37px;
  width:165px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u67 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:37px;
  width:52px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
